@import "/src/styles/sizes.module.scss";
@import "/src/styles/variables.module.scss";

.card--list {
    width: 100%;
    height: 142px;
    position: relative;
    img {
        height: 100%;
    }
}

.card--grid {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    position: relative;
    img {
        height: 100%;
    }
}

.card__body--list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 0 12px 0px 10%;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.0001) 0%,
        #888888 18.8%,
        #666666 50%,
        rgba(51, 51, 51, 0.6) 71.88%
    );

    button[aria-label="vote now"] {
        width: 107px;
        height: 30px;
        background-color: $color-darker-background;
        border: 1px solid $color-white;
        font-size: 15px;
        color: $color-white;
    }
}
.card--list,
.card--grid {
    button[aria-label="vote now"] {
        width: 107px;
        height: 30px;
        background-color: $color-darker-background;
        border: 1px solid $color-white;
        font-size: 15px;
        color: $color-white;
    }
}

.card__body--grid {
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    gap: 12px;
    padding: 0 11% 46px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.card__body__info {
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    h3 {
        color: $color-white;
        font-size: 28px;
        font-weight: 400;
        margin: 0;
    }
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 100%;
        margin: 0;
    }
}
.card__body__vote {
    small {
        display: block;
        margin: 8px 0 12px;
        font-size: 12px;
        color: $color-white;
        font-weight: 700;
        text-align: end;
    }
}
.card__body__vote__btns {
    display: flex;
    gap: 12px;
}

.icon-button {
    width: 30px;
    height: 30px;
    img {
        width: 16px;
    }
}

.card__body_reputation--list {
    position: absolute;
    top: 0;
    left: 0;
}

.card__body_reputation--grid {
    position: absolute;
    top: 36%;
    left: 0;
}

.card_thumb-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

@media all and (min-width: $tablet) {
    .card--grid {
        width: 50%;
        max-width: 351px;
        max-height: 351px;
    }
    .card__body__info {
        gap: 18px;
    }
    .card__body--grid {
        gap: 12px;
        padding: 0 12px 46px 10%;
    }
    .card__body_reputation--grid {
        top: 41%;
    }
}

@media all and (min-width: $desktop) {
    .card__body--list {
        padding-left: 13%;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.0001) 0%,
            #888888 12.8%,
            #666666 50%,
            rgba(51, 51, 51, 0.6) 71.88%
        );
    }
    .card__body__info {
        h3 {
            line-height: 34px;
        }
    }
    .card__body_reputation--grid {
        top: 39%;
    }
}
